
body{
    font-family: Arial, sans-serif;
    background-color: rgb(56, 33, 190);
  }
h1{
  font-family: 'Black Han Sans', sans-serif;
}
h2{
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: xx-large;
  font-weight: bolder;
}
h3{
  font-family: 'Big Shoulders Inline Display', cursive;

}
p{
  font-family: 'Grenze', serif;
}
header{
    text-align: center;
    padding: 20px;
    background-color: #e1e2e4;
  }
section{
    margin: 20px 0;
    padding: 20px;
    background-color: #e1e2e4;
  }
section h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
section ul {
    list-style: none;
    padding-left: 0;
  }

  nav {
    display: flex;
    justify-content: center;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }  

